@font-face {
    font-family: 'bookmanBold';
    src: url('../fonts/bookmanBold.eot');
    src: url('../fonts/bookmanBold.eot') format('embedded-opentype'),
         url('../fonts/bookmanBold.woff2') format('woff2'),
         url('../fonts/bookmanBold.woff') format('woff'),
         url('../fonts/bookmanBold.ttf') format('truetype'),
         url('../fonts/bookmanBold.svg#bookmanBold') format('svg');
}
@font-face {
    font-family: 'BOOKOS';
    src: url('../fonts/BOOKOS.eot');
    src: url('../fonts/BOOKOS.eot') format('embedded-opentype'),
         url('../fonts/BOOKOS.woff2') format('woff2'),
         url('../fonts/BOOKOS.woff') format('woff'),
         url('../fonts/BOOKOS.ttf') format('truetype'),
         url('../fonts/BOOKOS.svg#BOOKOS') format('svg');
}
